body {
    padding: 0px;
    margin: 0px;
}

#banner {
    display: flex;
    min-height: 80px;
    color: rgb(22, 22, 22);
  
    background-color: rgb(96, 51, 29);
    padding-inline: 40px;
    box-shadow: 10px 5px 5px;

    font-family: 'Courier New', Courier, monospace;

    justify-content: space-between;
    align-items: center;
}

#burger{
    font-size: 20px;
    width: 30px;
    background-color: rgb(131, 76, 49) ;
    border: 1px black solid;
    border-radius: 3px;
    padding: 2px;
}

#burger:hover{
    cursor: pointer;
    background-color: rgb(145, 85, 55);
}

#burger:active{
    transform: translateY(2px);
}

#title{
    font-size: 50px;
    font-weight: 600;
    -webkit-text-stroke-width:  .5px;
    -webkit-text-stroke-color: rgb(249, 247, 218);
}

#username{
    color: rgb(247, 244, 214);;
}

#hero {
    display: flex;
    height: 100dvh;
    background-color: #fcf989;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color:rgb(88, 88, 88);
    margin: 25px;
    border: 2px dotted gray;
    max-height: 400px;
    width: 400px;
}

#card:hover{
    cursor: pointer;
    color: black;
    background-color: #f9f57e;
    border: solid;
}

.form-popup {
  position: fixed;
  right: 43%;
  top: 10%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  display: none;
  width: 400px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], 
.form-container input[type=date], 
.form-container select {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=date]:focus, 
.form-container select:focus{
  background-color: #ddd;
  outline: none;
}

.form-container #submit-button,
.form-container #cancel-button {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container #submit-button{
    background-color: #04AA6D;
}

.form-container #cancel-button {
  background-color: red;
}